@@include('../inc/_top.html', { "pageName": "support" })

<main id="container" class="container" role="main">
    <section class="sec support-visual-sec">
        <div class="visual-wrapper">
            <div class="visual-content">
                <h1 class="visual-title">
                    <img src="http://img.entv.co.kr/dien/support/pagetitle.png" alt="고객지원">
                </h1>
            </div>
        </div>
    </section>

    @@include('../inc/common/_path.html', {
    "path1": "고객지원",
    "path2": "<span class='arr'>▶</span> <a href='#' class='point'><span class='label'>제품문의</span></a>"
    })

    <section class="sec support-inquirys-sec">
        <div class="inquirys-wrapper wrapper-type1">
            <div class="inquirys-content group group-type1">
                <h1 class="title-type1">
                    <img src="http://img.entv.co.kr/dien/support/title_inquirys.jpg" alt="제품문의">
                </h1>
            </div>
        </div>
    </section>
    <!-- /.sec support-inquirys-sec -->

</main>
<!-- /.main.container -->

@@include('../inc/_bottom.html')