@@include('../inc/_top.html', { "pageName": "support" })

<main id="container" class="container" role="main">
    <section class="sec brand-visual-sec">
        <div class="visual-wrapper">
            <div class="visual-content">
                <h1 class="visual-title">
                    <img src="/img/brand/pagetitle.png" alt="브랜드 디엔">
                </h1>
            </div>
        </div>
    </section>
    <!-- /.sec.main-visual-sec -->

    @@include('../inc/common/_path.html', {
    "path1": "고객지원",
    "path2": "<span class='arr'>▶</span> <a href='#' class='point'><span class='label'>제품보증정책</span></a>"
    })

    <section class="sec brand-terms-sec">
        <div class="brand-terms-wrapper wrapper-type1">
            <div class="brand-terms-content group group-type1">
                <h1 class="title-type1">
                    <img src="/img/brand/title_use.jpg" alt="디엔 브랜드 스토리">
                </h1>
            </div>
        </div>
    </section>
    <!-- /.sec brand-terms-sec -->

</main>
<!-- /.main.container -->

@@include('../inc/_bottom.html')