@@include('../inc/_top.html', { "pageName": "news" })

<main id="container" class="container" role="main">
    <section class="sec news-visual-sec">
        <div class="visual-wrapper">
            <div class="visual-content">
                <h1 class="visual-title">
                    <img src="/img/news/pagetitle.png" alt="언론보도">
                </h1>
            </div>
        </div>
    </section>

    @@include('../inc/common/_path.html', {
    "path1": "<a href='#' class='point'><span class='label'>언론보도</span></a>",
    "path2": ""
    })

    <section class="sec news-sec">
        <div class="news-wrapper wrapper-type1">
            <div class="news-content group group-type1">
                <h1 class="title-type1 bor-no news-title">
                    <img src="/img/news/title.jpg" alt="언론보도">
                </h1>
                <div class="tbl-wrapper">
                    <!-- 공지사항 리스크 클릭시 (포스트 id 값이 있을 경우) -->
                    <table class="tbl-type1 bd-x-0 detail-tbl">
                        <colgroup>
                            <col>
                            <col style="width: 200px">
                            <col style="width: 110px">
                        </colgroup>
                        <thead>
                            <tr>
                                <th class="ta-left">2015년 TV 시장, 가성비 좋은 TV, 이엔TV 전략 통했다</th>
                                <th>서울경제</th>
                                <th>2015.12.01</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="ta-left content" colspan="3">
                                    올 한해 ‘반값TV’라는 애칭으로 저가티비 열풍을 몰고 온 주인공은 바로 ‘이엔티비’다.
                                    <br>삼성전자디스플레이 정품 패널을 적용한 55인치 FHD TV가 시중가 대비 절반 수준인 61만 9000원으로 구매가 가능해 출시와 동시에 소비자들의 반응이 뜨거웠다.
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="tbl-type1 bd-x-0 list-tbl">
                        <colgroup>
                            <col>
                            <col style="width: 200px">
                            <col style="width: 110px">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>제목</th>
                                <th>언론사</th>
                                <th>등록일</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- 선택 포스트 클래스 on 추가 -->
                            <tr class="on">
                                <td class="ta-left">2015년 TV 시장, 가성비 좋은 TV, 이엔TV 전략 통했다</td>
                                <td class="ta-center">서울경제</td>
                                <td class="ta-center">2015.12.01</td>
                            </tr>
                            @@for (var i = 0; i < 9; i++) { <tr>
                                <td class="ta-left">2015년 TV 시장, 가성비 좋은 TV, 이엔TV 전략 통했다</td>
                                <td class="ta-center">서울경제</td>
                                <td class="ta-center">2015.12.01</td>
                                </tr>
                                }
                        </tbody>
                    </table>
                    <div class="pagenation type1" id="pagenation">
                        <a href="" class="pprev arrow-end"><img src="/img/common/pprev.png" alt="처음으로"></a>
                        <a href="" class="prev arrow"><img src="/img/common/prev.png" alt="이전"></a>
                        <a class="no on" href="">1</a>
                        <a class="no" href="">2</a>
                        <a class="no" href="">3</a>
                        <a class="no" href="">4</a>
                        <a class="no" href="">5</a>
                        <a class="no" href="">6</a>
                        <a class="no" href="">7</a>
                        <a class="no" href="">8</a>
                        <a class="no" href="">9</a>
                        <a class="no" href="">10</a>
                        <a href="" class="next arrow"><img src="/img/common/next.png" alt="다음"></a>
                        <a href="" class="nnext arrow-end"><img src="/img/common/nnext.png" alt="끝으로"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.sec news-sec -->

</main>
<!-- /.main.container -->

@@include('../inc/_bottom.html')