// visual 영역
.main-visual-sec {
    position: relative;
    // @include size(100%, 600px);

    .visual-wrapper {
        .visual-content {

            // 슬라이드 예정
            .banner-list-wrapper {
                .banner-arrow {
                    z-index: 1;
                    position: absolute;
                    top: 50%;
                    margin-top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }

                .slick-prev,
                .slick-next {
                    @include size(22px, 70px);
                    margin-top: 23px;
                }

                .slick-prev {
                    left: 0;
                }

                .slick-next {
                    right: 0;
                }

                .banner-list {
                    .banner-item {
                        height: 888px;

                        .banner-title {
                            animation-duration: 1.8s;
                            animation-delay: .3s;
                            animation-fill-mode: both;
                            visibility: hidden;
                        }

                        &.slick-active {
                            .banner-title {
                                visibility: visible;
                                // opacity: 1;
                                -webkit-animation-name: fadeInUp;
                                animation-name: fadeInUp;
                            }
                        }

                        &.item-1 {
                            background: url('http://img.entv.co.kr/dien/main/visual/visual_1.jpg') no-repeat;

                            .banner-title {
                                @include center(940px);
                                padding-top: 100px;
                            }
                        }

                        &.item-2 {
                            background: url('http://img.entv.co.kr/dien/main/visual/visual_2.jpg') no-repeat;

                            .banner-title {
                                @include center(920px);
                                padding-top: 100px;
                            }
                        }

                        &.item-3 {
                            background: url('http://img.entv.co.kr/dien/main/visual/visual_3.jpg') no-repeat;

                            .banner-title {
                                @include center(940px);
                                padding-top: 100px;
                            }
                        }
                    }
                }
            }

            .banner-actions {
                margin-top: 60px;
                padding: 0 10px;
                box-sizing: border-box;
                font-size: 0;
                text-align: center;

                .btn {
                    width: 250px;
                    height: 60px;
                    @include btn-size(16px 0, 18px);
                    font-weight: 500;
                    border-radius: 35px;
                    color: #fff;
                    background-color: rgba(255, 255, 255, 0.2);
                    border: 1px solid #fff;
                    transition: color .3s;
                    transition: background-color .3s;

                    &:hover {
                        background-color: #fff;
                        color: $font-color;
                    }

                    &+.btn {
                        margin-left: 20px;
                    }

                }

                // .white {
                //     background-color: #fff;
                //     color: $font-color;
                // }

                // .outline {
                //     color: #fff;
                //     background-color: rgba(255, 255, 255, 0.2);
                //     border: 1px solid #fff;
                // }

                .inquiry-btn {
                    margin: 0 auto;
                }

                .paper-btn {}
            }
        }
    }
}