// visual 영역
.main-visual-sec {
    position: relative;
    // @include size(100%, 600px);

    .visual-wrapper {
        .visual-content {

            // 슬라이드 예정
            .banner-list-wrapper {
                .banner-arrow {
                    z-index: 1;
                    position: absolute;
                    top: 50%;
                    margin-top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }

                .slick-prev,
                .slick-next {
                    @include size(22px, 70px);
                    margin-top: 23px;
                }

                .slick-prev {
                    left: 0;
                }

                .slick-next {
                    right: 0;
                }

                .banner-list {
                    .banner-item {
                        height: 888px;

                        .banner-title {
                            animation-duration: 0.9s;
                            animation-delay: .15s;
                            animation-fill-mode: both;
                            visibility: hidden;
                        }

                        .banner-actions {
                            position: relative;
                            animation-duration: 0.9s;
                            animation-delay: .15s;
                            animation-fill-mode: both;
                            visibility: hidden;

                            .product-list-wrapper {
                                position: relative;
                                width: 730px;
                                margin: 0 auto;
                            }

                            .product-list {
                                font-size: 0;
                                text-align: center;

                                .product-item {
                                    float: initial !important;
                                    display: inline-block;
                                    // margin: 0 5px;
                                    height: 84px;
                                    vertical-align: bottom;

                                    // &:first-child {
                                    //     margin-left: 0px;
                                    // }

                                    // &:last-child {
                                    //     margin-right: 0px;
                                    // }
                                    a {
                                        outline: none;
                                    }

                                    .picture {
                                        position: relative;
                                        top: 5px;
                                        height: 79px;

                                        >img {
                                            position: relative;
                                            display: inline-block;
                                            height: 61px;
                                            transition: all .15s linear;

                                            &:hover {
                                                transform: translateY(-5px);
                                            }
                                        }

                                        >figcaption {
                                            margin-top: 5px;
                                            font-size: 13px;
                                            color: #fff;
                                            letter-spacing: -1px;
                                        }
                                    }

                                    &.pdt-55uhd-curved {

                                        figcaption {
                                            position: absolute;
                                            white-space: nowrap;
                                            left: 50%;
                                            transform: translateX(-50%);
                                        }
                                    }
                                }
                            }
                        }

                        &.slick-active {
                            .banner-title {
                                visibility: visible;
                                -webkit-animation-name: fadeInUp;
                                animation-name: fadeInUp;
                            }

                            .banner-actions {
                                visibility: visible;
                                -webkit-animation-name: fadeIn;
                                animation-name: fadeIn;
                            }
                        }

                        @for $i from 1 through 5 {
                            &.item-#{$i} {
                                background: url('/img/main/visual/visual_#{$i}.jpg') no-repeat center / cover;
                            }
                        }

                        &.item-1 {
                            .banner-title {
                                @include center(940px);
                                padding-top: 100px;
                            }

                            .banner-actions {
                                margin-top: 600px;
                                left: -25px;
                            }
                        }

                        &.item-2 {
                            .banner-title {
                                @include center(920px);
                                padding-top: 100px;
                            }

                            .banner-actions {
                                margin-top: 500px;
                                left: -25px;
                            }
                        }

                        &.item-3 {
                            .banner-title {
                                @include center(940px);
                                padding-top: 100px;
                            }

                            .banner-actions {
                                margin-top: 583px;
                                left: -25px;
                            }
                        }

                        &.item-4 {
                            .banner-title {
                                @include center(1080px);
                                padding-top: 60px;
                            }
                        }

                        &.item-5 {
                            .banner-title {
                                @include center(960px);
                                padding-top: 100px;
                            }
                        }
                    }
                }
            }
        }
    }
}