@@include('../inc/_top.html', { "pageName": "main" })

<main id="container" class="container" role="main">
    <!-- <section class="sec main-visual-sec">
        <h1 class="sr-only">코나코인 소개</h1>
        <div class="visual-wrapper">
            <div class="visual-content">
                <div class="banner-list-wrapper">
                    <div id="visualBannerList" class="banner-list">
                        <div class="banner-item item-1">
                            <div class="banner-title">
                                <div class="title-wrapper">
                                    <div class="wayp-item">
                                        <p class="title ff-jfss">“ World's first ”</p>
                                        <p class="st" data-langtarget="visualSubtitle">
                                            <span class="big">펀드레이징 커뮤니티 플랫폼</span>
                                            <span class="small">Cryptocurrency Offering New Alternative</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="banner-actions cf">
                                <a href="/support/inquirys/" class="btn lg outline inquiry-btn" data-langtarget="visualJoin">문의하기</a>
                            </div>
                        </div>
                        <div class="banner-item item-2">
                            <div class="banner-title">
                                <div class="title-wrapper">
                                    <div class="wayp-item">
                                        <p class="title ff-jfss">“ White paper ”</p>
                                        <p class="st">
                                            <span class="big">코나코인 백서를 확인하세요.</span>
                                            <span class="small">Wath do you wonder?</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="banner-actions cf">
                                <a href="javascript:;" target="_blank" class="btn lg white paper-btn end">WHITE PAPER_ENG</a>
                                <a href="https://drive.google.com/file/d/1iGlhpizzd7kA_-76Ck_T-Y6uWIIwWjHR/view " target="_blank" class="btn lg outline paper-btn kor">WHITE PAPER_KOR</a>
                            </div>
                        </div>
                    </div>

                    <div id="bannerArrow" class="banner-arrow group-f"></div>

                    <div class="cona-ticker-wrapper group-f">
                        <div class="cona-ticker">
                            <div class="split split-1">
                                <img src="/images/common/logo.png" alt="코나" class="logo-img"><br>
                                <a href="https://www.foblgate.com/trade?pairName=CONA/KRW" target="_blank" class="btn ticker-btn">시세확인</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- /.sec.main-visual-sec -->
</main>
<!-- /.main.container -->

@@include('../inc/_bottom.html')