@@include('../inc/_top.html', { "pageName": "brand" })

<main id="container" class="container" role="main">
    <section class="sec main-visual-sec">
        <h1 class="sr-only">코나코인 소개</h1>
        <div class="visual-wrapper">
            <div class="visual-content">
                <div class="banner-list-wrapper">
                    <div id="visualBannerList" class="banner-list">
                        <div class="banner-item item-1">
                            <div class="banner-title">
                                <div class="title-wrapper">
                                    <div class="wayp-item">
                                        <p class="title">
                                            <img src="http://img.entv.co.kr/dien/main/visual/visual_1.title.png" alt="">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="banner-item item-2">
                            <div class="banner-title">
                                <div class="title-wrapper">
                                    <div class="wayp-item">
                                        <p class="title">
                                            <img src="http://img.entv.co.kr/dien/main/visual/visual_2.title.png" alt="">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="banner-item item-3">
                            <div class="banner-title">
                                <div class="title-wrapper">
                                    <div class="wayp-item">
                                        <p class="title">
                                            <img src="http://img.entv.co.kr/dien/main/visual/visual_3.title.png" alt="">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div id="bannerArrow" class="banner-arrow group-f"></div> -->
            </div>
        </div>
    </section>
    <!-- /.sec.main-visual-sec -->
</main>
<!-- /.main.container -->

@@include('../inc/_bottom.html')