@@include('../inc/_top.html', { "pageName": "main" })

<main id="container" class="container" role="main">
    <section class="sec main-visual-sec">
        <h1 class="sr-only">코나코인 소개</h1>
        <div class="visual-wrapper">
            <div class="visual-content">
                <div class="banner-list-wrapper">
                    <div id="visualBannerList" class="banner-list">
                        <div class="banner-item item-1">
                            <div class="banner-title">
                                <img src="http://img.entv.co.kr/dien/main/visual/visual_1_title.png" alt="차원이 다른 몰입감을 전합니다.">
                            </div>
                            <div class="banner-actions">
                                <ul class="tv-list">
                                    <li class="tv-item">
                                        <a href="">
                                            <figure class="picture">
                                                <img src="http://img.entv.co.kr/dien/main/visual/32led.png" alt="32인치LED">
                                                <figcaption>32인치 LED</figcaption>
                                            </figure>
                                        </a>
                                    </li>
                                    <li class="tv-item">
                                        <a href="">
                                            <figure class="picture">
                                                <img src="http://img.entv.co.kr/dien/main/visual/32hd.png" alt="32인치HD">
                                                <figcaption>32인치 HD</figcaption>
                                            </figure>
                                        </a>
                                    </li>
                                    <li class="tv-item">
                                        <a href="">
                                            <figure class="picture">
                                                <img src="http://img.entv.co.kr/dien/main/visual/40fhd.png" alt="40인치 FHD">
                                                <figcaption>40인치 FHD</figcaption>
                                            </figure>
                                        </a>
                                    </li>
                                    <li class="tv-item">
                                        <a href="">
                                            <figure class="picture">
                                                <img src="http://img.entv.co.kr/dien/main/visual/43uhd.png" alt="43인치 UHD">
                                                <figcaption>43인치 UHD</figcaption>
                                            </figure>
                                        </a>
                                    </li>
                                    <li class="tv-item">
                                        <a href="">
                                            <figure class="picture">
                                                <img src="http://img.entv.co.kr/dien/main/visual/55uhd.png" alt="55인치 UHD">
                                                <figcaption>55인치 UHD</figcaption>
                                            </figure>
                                        </a>
                                    </li>
                                    <li class="tv-item">
                                        <a href="">
                                            <figure class="picture">
                                                <img src="http://img.entv.co.kr/dien/main/visual/55uhd_curved.png" alt="55인치 UHD 커브드">
                                                <figcaption>55인치 UHD 커브드</figcaption>
                                            </figure>
                                        </a>
                                    </li>
                                    <li class="tv-item">
                                        <a href="">
                                            <figure class="picture">
                                                <img src="http://img.entv.co.kr/dien/main/visual/65uhd.jpg" alt="65인치 UHD">
                                                <figcaption>65인치 UHD</figcaption>
                                            </figure>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="banner-item item-2">
                            <div class="banner-title">
                                <img src="http://img.entv.co.kr/dien/main/visual/visual_2_title.png" alt="모던한 프레임으로 품격있는 공간이 탄생합니다">
                            </div>
                        </div>
                        <div class="banner-item item-3">
                            <div class="banner-title">
                                <img src="http://img.entv.co.kr/dien/main/visual/visual_3_title.png" alt="차원이 다른 몰입감을 전합니다.">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div id="bannerArrow" class="banner-arrow group-f"></div> -->
            </div>
        </div>
    </section>
    <!-- /.sec.main-visual-sec -->
</main>
<!-- /.main.container -->

@@include('../inc/_bottom.html')