@@include('../inc/_top.html', { "pageName": "prdDetail" })

<main id="container" class="container" role="main">
    <section class="sec entv-visual-sec">
        <div class="visual-wrapper">
            <div class="visual-content">
                <h1 class="visual-title">
                    <img src="http://img.entv.co.kr/dien/product/entv/pagetitle.png" alt="고객지원">
                </h1>
            </div>
        </div>
    </section>

    @@include('../inc/common/_path.html', {
    "path1": "이엔티비",
    "path2": "<span class='arr'>▶</span> <a href='#' class='point'><span class='label'>32인치 HD (DIEN21H-MT)</span></a>"
    })


    <section class="dien-prdname-sec wrapper-type1">
        <div class="product-wrapper group-f">
            <div class="product-content group" id="entvProductContent">
                <h1 class="sr-only">상품 종류 탭</h1>
                <div class="product-list-wrapper">
                    <ul class="product-list cf" id="entvProductList">
                        <!-- 해당 탭 클래스 on 추가 -->
                        <li class="product-item on">
                            <a href="./index.html?prdCd=EN-SL230S">
                                <figure class="picture">
                                    <img src="http://img.entv.co.kr/dien/product/entv/list/32hd_1.png" alt="32인치 HD">
                                    <figcaption>32인치 HD</figcaption>
                                </figure>
                            </a>
                        </li>
                        <li class="product-item">
                            <a href="./index.html?prdCd=DIEN32H-MT">
                                <figure class="picture">
                                    <img src="http://img.entv.co.kr/dien/product/entv/list/32hd_2.png" alt="32인치 HD">
                                    <figcaption>32인치 HD</figcaption>
                                </figure>
                            </a>
                        </li>
                        <li class="product-item">
                            <a href="./index.html?prdCd=DIEN40F-KT">
                                <figure class="picture">
                                    <img src="http://img.entv.co.kr/dien/product/entv/list/40fhd.png" alt="40인치 FHD">
                                    <figcaption>40인치 FHD</figcaption>
                                </figure>
                            </a>
                        </li>
                        <li class="product-item">
                            <a href="./index.html?prdCd=DIEN43U-MT">
                                <figure class="picture">
                                    <img src="http://img.entv.co.kr/dien/product/entv/list/43uhd.png" alt="43인치 UHD">
                                    <figcaption>43인치 UHD</figcaption>
                                </figure>
                            </a>
                        </li>
                        <li class="product-item">
                            <a href="./index.html?prdCd=EN-SL550U">
                                <figure class="picture">
                                    <img src="http://img.entv.co.kr/dien/product/entv/list/55uhd.png" alt="55인치 UHD">
                                    <figcaption>55인치 UHD</figcaption>
                                </figure>
                            </a>
                        </li>
                        <li class="product-item pdt-55uhd-curved">
                            <a href="./index.html?prdCd=EN-SL550CU">
                                <figure class="picture">
                                    <img src="http://img.entv.co.kr/dien/product/entv/list/55uhd_curved.png" alt="55인치 UHD 커브드">
                                    <figcaption>55인치 UHD 커브드</figcaption>
                                </figure>
                            </a>
                        </li>
                        <li class="product-item">
                            <a href="./index.html?prdCd=DIEN65U-KT">
                                <figure class="picture">
                                    <img src="http://img.entv.co.kr/dien/product/entv/list/65uhd.png" alt="65인치 UHD">
                                    <figcaption>65인치 UHD</figcaption>
                                </figure>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="sec dien-prdinfo-sec">
        <div class="info-wrapper wrapper-type1">
            <div class="info-content group group-type1">
                <!-- 쿼리 스트링 받아 상세페이지 구현 -->
                <!-- 예시 상세 페이지 -->
                <h1 class="title-type1 title" id="entvTitle">
                    <img src="http://img.entv.co.kr/dien/common/logo_entv.png" alt="이엔티비">
                    <span class="name">32인치 HD</span>
                    <a href="#spec" class="btn spec-btn">
                        <img src="http://img.entv.co.kr/dien/common/icon/icon_settings.png" alt="사양" class="icon">
                        제품사양 및 구성
                    </a>
                </h1>
                <div class="info-detail-wrapper">
                    <img src="http://img.entv.co.kr/32_new/1020/01.jpg"><br>
                    <img src="http://img.entv.co.kr/32_new/1020/02.jpg"><br>
                    <img src="http://img.entv.co.kr/32_new/1020/03.jpg"><br>
                    <img src="http://img.entv.co.kr/32_new/1020/04.jpg"><br>
                    <img src="http://img.entv.co.kr/32_new/1020/05.jpg"><br>
                    <img src="http://img.entv.co.kr/32_new/1020/06.jpg"><br>
                    <img src="http://img.entv.co.kr/32_new/1020/07.jpg" id="spec"><br>
                    <img src="http://img.entv.co.kr/32_new/1020/08.jpg">
                </div>
                <!-- / -->

                <!-- 32인치 구형 - EN-SL230S -->

                <!-- (작업물 없음) 일단 건너띄세요. -->

                <!-- --------------------------------------------------- -->

                <!-- 32인치 신형 - DIEN32H-MT -->

                <!-- <img src="http://img.entv.co.kr/32_new/1020/01.jpg"><br>
                <img src="http://img.entv.co.kr/32_new/1020/02.jpg"><br>
                <img src="http://img.entv.co.kr/32_new/1020/03.jpg"><br>
                <img src="http://img.entv.co.kr/32_new/1020/04.jpg"><br>
                <img src="http://img.entv.co.kr/32_new/1020/05.jpg"><br>
                <img src="http://img.entv.co.kr/32_new/1020/06.jpg"><br>
                <img src="http://img.entv.co.kr/32_new/1020/07.jpg" id="spec"><br>
                <img src="http://img.entv.co.kr/32_new/1020/08.jpg"> -->

                <!-- --------------------------------------------------- -->

                <!-- 40인치 - DIEN40F-KT -->

                <!-- <img src="http://img.entv.co.kr/40_new/1020/01.jpg"><br>
                <img src="http://img.entv.co.kr/40_new/1020/02.jpg"><br>
                <img src="http://img.entv.co.kr/40_new/1020/03.jpg"><br>
                <img src="http://img.entv.co.kr/40_new/1020/04.jpg"><br>
                <img src="http://img.entv.co.kr/40_new/1020/05.jpg"><br>
                <img src="http://img.entv.co.kr/40_new/1020/06.jpg"><br>
                <img src="http://img.entv.co.kr/40_new/1020/07.jpg"><br>
                <img src="http://img.entv.co.kr/40_new/1020/08.jpg" id="spec"><br>
                <img src="http://img.entv.co.kr/40_new/1020/09.jpg"> -->

                <!-- --------------------------------------------------- -->

                <!-- 43인치 - DIEN43U-MT -->

                <!-- <img src="http://img.entv.co.kr/43_new/1020/01.jpg"><br>
                <img src="http://img.entv.co.kr/43_new/1020/03.jpg"><br>
                <img src="http://img.entv.co.kr/43_new/1020/04.jpg"><br>
                <img src="http://img.entv.co.kr/43_new/1020/05.jpg"><br>
                <img src="http://img.entv.co.kr/43_new/1020/06.jpg"><br>
                <img src="http://img.entv.co.kr/43_new/1020/07.jpg"><br>
                <img src="http://img.entv.co.kr/43_new/1020/08.jpg" id="spec"><br>
                <img src="http://img.entv.co.kr/43_new/1020/09.jpg"> -->

                <!-- --------------------------------------------------- -->

                <!-- 55인치 - EN-SL550U -->

                <!-- <img src="http://img.entv.co.kr/55_flat/1020/inch/01.jpg"><br>
                <img src="http://img.entv.co.kr/55_flat/1020/inch/02.jpg"><br>
                <img src="http://img.entv.co.kr/55_flat/1020/inch/03.jpg"><br>
                <img src="http://img.entv.co.kr/55_flat/1020/inch/04.jpg"><br>
                <img src="http://img.entv.co.kr/55_flat/1020/inch/05.jpg"><br>
                <img src="http://img.entv.co.kr/55_flat/1020/inch/06.jpg" id="spec"><br>
                <img src="http://img.entv.co.kr/55_flat/1020/inch/07.jpg"> -->

                <!-- --------------------------------------------------- -->

                <!-- 55인치 커브 - EN-SL550CU -->

                <!-- <img src="http://img.entv.co.kr/55_cu/1020/01.jpg"><br>
                <img src="http://img.entv.co.kr/55_cu/1020/02.jpg"><br>
                <img src="http://img.entv.co.kr/55_cu/1020/03.jpg"><br>
                <img src="http://img.entv.co.kr/55_cu/1020/04.jpg"><br>
                <img src="http://img.entv.co.kr/55_cu/1020/05.jpg"><br>
                <img src="http://img.entv.co.kr/55_cu/1020/06.jpg" id="spec"><br>
                <img src="http://img.entv.co.kr/55_cu/1020/07.jpg"> -->

                <!-- --------------------------------------------------- -->

                <!-- 65인치 커브 - DIEN65U-KT -->

                <!-- <img src="http://img.entv.co.kr/65_new/1020/01.jpg"><br>
                <img src="http://img.entv.co.kr/65_new/1020/02.jpg"><br>
                <img src="http://img.entv.co.kr/65_new/1020/03.jpg"><br>
                <img src="http://img.entv.co.kr/65_new/1020/04.jpg"><br>
                <img src="http://img.entv.co.kr/65_new/1020/05.jpg"><br>
                <img src="http://img.entv.co.kr/65_new/1020/06.jpg"><br>
                <img src="http://img.entv.co.kr/65_new/1020/07.jpg"><br>
                <img src="http://img.entv.co.kr/65_new/1020/08.jpg" id="spec"><br>
                <img src="http://img.entv.co.kr/65_new/1020/09.jpg"> -->
            </div>
        </div>
    </section>
    <!-- /.sec dien-prdinfo-sec -->

</main>
<!-- /.main.container -->

@@include('../inc/_bottom.html')