@@include('../inc/_top.html', { "pageName": "prdDetail" })

<main id="container" class="container" role="main">
    <section class="sec spider-visual-sec">
        <div class="visual-wrapper">
            <div class="visual-content">
                <h1 class="visual-title">
                    <img src="/img/product/spider/pagetitle.png" alt="고객지원">
                </h1>
            </div>
        </div>
    </section>

    @@include('../inc/common/_path.html', {
    "path1": "이엔티비",
    "path2": "<span class='arr'>▶</span> <a href='#' class='point'><span class='label'>X0250A 상하형</span></a>"
    })


    <section class="dien-prdname-sec wrapper-type1">
        <div class="product-wrapper group-f">
            <div class="product-content group" id="entvProductContent">
                <h1 class="sr-only">상품 종류 탭</h1>
                <div class="product-list-wrapper">
                    <ul class="product-list cf" id="entvProductList">
                        <!-- 해당 탭 클래스 on 추가 -->
                        <li class="product-item on">
                            <a href="./index.html?prdCd=x0250a">
                                <figure class="picture">
                                    <img src="/img/product/spider/list/x0250a.jpg" alt="x0250a">
                                    <figcaption>X0250A</figcaption>
                                </figure>
                            </a>
                        </li>
                        <li class="product-item">
                            <a href="./index.html?prdCd=x0460c">
                                <figure class="picture">
                                    <img src="/img/product/spider/list/x0460c.jpg" alt="x0460c">
                                    <figcaption>X0460C</figcaption>
                                </figure>
                            </a>
                        </li>
                        <li class="product-item">
                            <a href="./index.html?prdCd=x0640b">
                                <figure class="picture">
                                    <img src="/img/product/spider/list/x0640b.jpg" alt="x0640b">
                                    <figcaption>X0640B</figcaption>
                                </figure>
                            </a>
                        </li>
                        <li class="product-item">
                            <a href="./index.html?prdCd=t0750b">
                                <figure class="picture">
                                    <img src="/img/product/spider/list/t0750b.jpg" alt="t0750b">
                                    <figcaption>T0750B</figcaption>
                                </figure>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="sec dien-prdinfo-sec">
        <div class="info-wrapper wrapper-type1">
            <div class="info-content group group-type1">
                <!-- 쿼리 스트링 받아 상세페이지 구현 -->
                <!-- 예시 상세 페이지 -->
                <h1 class="title-type1 title" id="entvTitle">
                    <img src="/img/common/logo_spider.png" alt="이엔티비">
                    <span class="name">X0250A 상하형</span>
                    <a href="#spec" class="btn spec-btn">
                        <img src="/img/common/icon/icon_settings.png" alt="사양" class="icon">
                        제품사양 및 구성
                    </a>
                </h1>
                <div class="info-detail-wrapper">
                    <img src="http://img.entv.co.kr/spider/X0250A/01.jpg"><br>
                    <img src="http://img.entv.co.kr/spider/parts/02.jpg"><br>
                    <img src="http://img.entv.co.kr/spider/X0250A/03.jpg"><br>
                    <img src="http://img.entv.co.kr/spider/X0250A/04.jpg" id="spec">
                </div>
                <!-- / -->

                <!-- X0250A 제품 -->

                <!-- <img src="http://img.entv.co.kr/spider/X0250A/01.jpg"><br>
                <img src="http://img.entv.co.kr/spider/parts/02.jpg"><br>
                <img src="http://img.entv.co.kr/spider/X0250A/03.jpg"><br>
                <img src="http://img.entv.co.kr/spider/X0250A/04.jpg" id="spec"> -->

                <!-- ----------------------------------------------- -->

                <!-- X0460C 제품 -->

                <!-- <img src="http://img.entv.co.kr/spider/X0460C/01.jpg"><br>
                <img src="http://img.entv.co.kr/spider/parts/02.jpg"><br>
                <img src="http://img.entv.co.kr/spider/X0460C/03.jpg"><br>
                <img src="http://img.entv.co.kr/spider/X0460C/04.jpg" id="spec"> -->

                <!-- ----------------------------------------------- -->

                <!-- X0640B 제품 -->

                <!-- <img src="http://img.entv.co.kr/spider/X0640B/01.jpg"><br>
                <img src="http://img.entv.co.kr/spider/parts/02.jpg"><br>
                <img src="http://img.entv.co.kr/spider/X0640B/03.jpg"><br>
                <img src="http://img.entv.co.kr/spider/X0640B/04.jpg" id="spec"> -->

                <!-- ----------------------------------------------- -->

                <!-- T0750B 제품 -->

                <!-- <img src="http://img.entv.co.kr/spider/T0750B/01.jpg"><br>
                <img src="http://img.entv.co.kr/spider/parts/02.jpg"><br>
                <img src="http://img.entv.co.kr/spider/T0750B/03.jpg"><br>
                <img src="http://img.entv.co.kr/spider/T0750B/04.jpg" id="spec"> -->

            </div>
        </div>
    </section>
    <!-- /.sec dien-prdinfo-sec -->

</main>
<!-- /.main.container -->

@@include('../inc/_bottom.html')