<footer id="footer" class="footer">
    <div class="group-f footer-area footer-main">
        <div class="logo-cover">
            <a href="/" class="logo"><img src="http://img.entv.co.kr/dien/common/logo_footer.png" alt="디엔"></a>
        </div>
        <address class="address">
            <p class="text">(주)이엔전자 I 서울시 강남구 테헤란로82길 15 DI타워 15층 I 고객센터 : 1666-7873 I 팩스번호 : 02-6255-3096</p>
            <p class="copyright">
                <small>COPYRIGHT ⓒ DIEN ALL RIGHTS RESERVED.</small>
            </p>
        </address>
    </div>
    <div class="group-f footer-area footer-sub">
        <div class="logo-cover">
            <a href="/" class="logo"><img src="http://img.entv.co.kr/dien/common/logo_2_footer.png" alt="디엔"></a>
        </div>
        <address class="address">
            <p class="text">
                (주)이엔전자 I 대표이사 : 최i강남구 테헤란로82길 15,(대치동 DI타워 15층)<br>
                사업자등록번호 : 220-88-95318 I 통신판매업신고번호 : 제2019-서울강남-02623호 I 팩스번호 : 02-6255-3096
            </p>
            <p class="text">
                (주)이비즈 네트웍스 I 대표이사 : 박기범 I 서울시 강남구 테헤란로82길 15,(대치동 DI타워 15층)<br>
                사업자등록번호 : 220-87-30865 I 통신판매업신고번호 : 서울강남 -11501호 I 팩스번호 : 02-6255-3096
            </p>
            <p class="copyright">
                <small>COPYRIGHT ⓒ DIEN ALL RIGHTS RESERVED.</small>
            </p>
        </address>
        <div class="call-wrapper">
            <div class="title">고객센터 ㅣ 구입문의</div>
            <div class="number-row"><span class="icon">☎</span> <span class="number">1666-7873</span></div>
            <div class="text">평일 09~18시 (12~13시 제외)<br>토, 일, 공휴일 휴무</div>
        </div>
    </div>
    <div class="certi-wrapper footer-sub">
        <div class="group-f certi-list">
            <span class="certi-item">
                <img src="http://img.entv.co.kr/dien/common/certi/img_1.png" alt="인증마크">
            </span>
            <span class="certi-item">
                <img src="http://img.entv.co.kr/dien/common/certi/img_2.png" alt="인증마크">
            </span>
            <span class="certi-item">
                <img src="http://img.entv.co.kr/dien/common/certi/img_3.png" alt="인증마크">
            </span>
            <span class="certi-item">
                <img src="http://img.entv.co.kr/dien/common/certi/img_4.png" alt="인증마크">
            </span>
            <span class="certi-item">
                <img src="http://img.entv.co.kr/dien/common/certi/img_5.png" alt="인증마크">
            </span>
            <span class="certi-item">
                <img src="http://img.entv.co.kr/dien/common/certi/img_6.png" alt="인증마크">
            </span>
        </div>
    </div>
</footer>
<!-- /.footer -->

<div class="affix shortcut-container">
    <button href="#none" id="goTop" class="go-top" role="button" onclick="$( 'html, body' ).animate( { scrollTop : 0 }, 400 )">
        <i class="fas fa-arrow-up"></i>
    </button>
</div>
<!-- /.shortcut-container -->