<header id="header" class="header">
    <div id="gnb" class="gnb">
        <div class="group-f gnb-area">
            <h1 id="logo-cover" class="logo-cover">
                <a href="/" class="logo">
                    <img src="/images/common/logo.png" alt="코나코인" class="logo-img logo-img-1">
                    <img src="/images/common/logo_2.png" alt="코나코인" class="logo-img logo-img-2 hide">
                </a>
            </h1>

            <a class="tel-cover hidden-md-and-up" href="http://pf.kakao.com/_LsxaIxb/chat" target="_blank">
                <img src="/images/icon/call_ringing.png" alt="전화걸기" class="tel-img tel-img-white">
                <img src="/images/icon/call_ringing_black.png" alt="전화걸기" class="tel-img tel-img-black hide">
            </a>

            <button type="button" id="navTab" class="nav-tab hidden-md-and-up" aria-label="모바일 메뉴 토글버튼" title="모바일 메뉴 토글버튼">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </button>

            <div id="navBar" class="nav-bar">
                <nav id="mainNav" class="main-nav">
                    <h1 class="nav-logo hidden-md-and-up">
                        <a href="/" class="logo">
                            <img src="/images/common/logo_2.png" alt="코나코인" class="logo-img">
                        </a>
                    </h1>
                    <button type="button" class="ap-reset close-btn hidden-md-and-up" aria-label="메뉴 닫기 버튼" onclick="$(this).closest('#navBar').removeClass('active')">
                        &times;
                    </button>

                    <ul class="menu cf">
                        <li>
                            <a href="javascript:;">
                                <span class="in">공지사항</span></a>
                            <ul class="menu2">
                                <li>
                                    <a href="/notice/alerts">공지사항</a>
                                </li>
                                <li>
                                    <a href="/notice/news">코나뉴스</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/about">
                                <span class="in">회사소개</span></a>
                        </li>
                        <li>
                            <a href="/guide">
                                <span class="in">투자가이드</span></a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <span class="in">고객센터</span></a>
                            <ul class="menu2">
                                <li>
                                    <a href="/support/inquirys">실시간 문의</a>
                                </li>
                                <li>
                                    <a href="/support/faq">자주묻는 질문</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- /.header -->