<header id="header" class="header">
    <div class="allmenu-wrapper">
        <div class="allmenu-content group-f">
            <div class="allmenu-cover">
                <button type="button" id="allmenuTab" class="allmenu-tab" aria-label="전체 메뉴 토글버튼" title="모바일 메뉴 토글버튼">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </button>
                <span class="txt">전체제품보기</span>
            </div>

            <div class="link-cover">
                <a href="">공지사항</a>
                <a href="">제품보증정책</a>
                <a href="">제품문의</a>
            </div>
        </div>
    </div>
    <div id="gnb" class="gnb">
        <div class="group-f gnb-area">
            <h1 id="logo-cover" class="logo-cover">
                <a href="../main" class="logo">
                    <img src="/img/common/logo.png" alt="디엔" class="logo-img logo-img-1">
                    <img src="/img/common/logo_2.png" alt="디엔" class="logo-img logo-img-2">
                </a>
            </h1>


            <div id="navBar" class="nav-bar">
                <nav id="mainNav" class="main-nav">
                    <h1 class="sr-only">메인메뉴</h1>

                    <ul class="menu cf">
                        <!-- 해당 페이지경우 클래스 on 추가 -->
                        <li class="">
                            <a href="javascript:;">브랜드소개</a>
                            <ul class="menu2">
                                <li>
                                    <a href="../brand/index.html">브랜드 디엔</a>
                                </li>
                                <li>
                                    <a href="../brand/terms_use.html">이용약관</a>
                                </li>
                                <li>
                                    <a href="../brand/terms_privacy.html">개인정보 취급방침</a>
                                </li>
                            </ul>
                            <div class="menu2-bg"></div>
                        </li>
                        <li>
                            <a href="../product/entv.html">이엔티비</a>
                        </li>
                        <li>
                            <a href="../product/praen.html">프라엔</a>
                        </li>
                        <li>
                            <a href="../product/spider.html">스파이더</a>
                        </li>
                        <li>
                            <a href="javascript:;">고객지원</a>
                            <ul class="menu2">
                                <li>
                                    <a href="../support/notice.html">공지사항</a>
                                </li>
                                <li>
                                    <a href="../support/warranty.html">제품보증정책</a>
                                </li>
                                <li>
                                    <a href="../support/as.html">AS기준안내</a>
                                </li>
                                <li>
                                    <a href="../support/inquirys.html">제품문의</a>
                                </li>
                            </ul>
                            <div class="menu2-bg"></div>
                        </li>
                        <li>
                            <a href="../review">이용후기</a>
                        </li>
                        <li>
                            <a href="../faq">자주묻는질문</a>
                        </li>
                        <li>
                            <a href="../news">언론기사</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- /.header -->