@@include('../inc/_top.html', { "pageName": "review" })

<main id="container" class="container" role="main">
    <section class="sec review-visual-sec">
        <div class="visual-wrapper">
            <div class="visual-content">
                <h1 class="visual-title">
                    <img src="http://img.entv.co.kr/dien/review/pagetitle.png" alt="이용후기">
                </h1>
            </div>
        </div>
    </section>

    @@include('../inc/common/_path.html', {
    "path1": "<a href='#' class='point'><span class='label'>이용후기</span></a>",
    "path2": ""
    })

    <section class="sec review-sec">
        <div class="review-wrapper wrapper-type1">
            <div class="review-content group group-type1">
                <h1 class="title-type1 bor-no review-title">
                    <img src="http://img.entv.co.kr/dien/review/title.jpg" alt="이용후기">
                </h1>
                <div class="tbl-wrapper">
                    <!-- 공지사항 리스크 클릭시 (포스트 id 값이 있을 경우) -->
                    <table class="tbl-type1 bd-x-0 detail-tbl">
                        <colgroup>
                            <col>
                            <col style="width: 170px">
                            <col style="width: 150px">
                        </colgroup>
                        <thead>
                            <tr>
                                <th class="ta-left">가성비 넘치는 이엔티비 32인치의 퍼포먼스</th>
                                <td class="ta-center">DIEN32H-MT</td>
                                <th>보람아*</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="ta-left content" colspan="3">
                                    가성비 넘치는 이엔티비 32인치의 퍼포먼스<br>
                                    <br>
                                    감사합니다.<br>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="tbl-type1 bd-x-0 list-tbl">
                        <colgroup>
                            <col>
                            <col style="width: 170px">
                            <col style="width: 150px">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>제목</th>
                                <th>기종</th>
                                <th>작성자</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- 선택 포스트 클래스 on 추가 -->
                            <tr class="on">
                                <td class="ta-left">가성비 넘치는 이엔티비 32인치의 퍼포먼스</td>
                                <td class="ta-center">DIEN32H-MT</td>
                                <td class="ta-center">보람아*</td>
                            </tr>
                            @@for (var i = 0; i < 9; i++) { <tr>
                                <td class="ta-left">가성비 넘치는 이엔티비 32인치의 퍼포먼스</td>
                                <td class="ta-center">DIEN32H-MT</td>
                                <td class="ta-center">보람아*</td>
                                </tr>
                                }
                        </tbody>
                    </table>
                    <div class="pagenation type1" id="pagenation">
                        <a href="" class="pprev arrow-end"><img src="http://img.entv.co.kr/dien/common/pprev.png" alt="처음으로"></a>
                        <a href="" class="prev arrow"><img src="http://img.entv.co.kr/dien/common/prev.png" alt="이전"></a>
                        <a class="no on" href="">1</a>
                        <a class="no" href="">2</a>
                        <a class="no" href="">3</a>
                        <a class="no" href="">4</a>
                        <a class="no" href="">5</a>
                        <a class="no" href="">6</a>
                        <a class="no" href="">7</a>
                        <a class="no" href="">8</a>
                        <a class="no" href="">9</a>
                        <a class="no" href="">10</a>
                        <a href="" class="next arrow"><img src="http://img.entv.co.kr/dien/common/next.png" alt="다음"></a>
                        <a href="" class="nnext arrow-end"><img src="http://img.entv.co.kr/dien/common/nnext.png" alt="끝으로"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.sec review-sec -->

</main>
<!-- /.main.container -->

@@include('../inc/_bottom.html')